THINGS YOU NEED TO RUN THE APP

A DESKTOP/A LAPTOP/IPAD PRO[THE ONES WITH BIG SCRRENS TSW]
[APP IS DESIGNED TO RUN ON PHONES]

- INTERNET
[FOR SOME FUNCTIONALITIES THAT REQUIRE USE OF MAIL.
TO ALLOW APP SEND EMAIL TO YOU, MAKE SURE YOUR LAPTOP IS CONNECTED TO THE INTERNET]

- PYTHON 3.7+

- FLASK

