<!DOCTYPE html>
<html>
<head>
	<title>Alpha Haven | ALPHA Prep</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/haven.css')}}">
	<link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/alpha preps-1.png') }}">
</head>

<body>
{% extends "prototype.html" %}
{% block body %}


<div class="grid">
    <div class="section1">
       <div class="records">
	   
		
		
    <h3> Welcome to Alpha Prep!</h3>
    <p>These are your statistics based on tests you've taken <br>
      Keep taking more tests and tutorials, you'll get there!
    </p> 
    <div>

    <div class="marks" >
        <h1 class="orange">{{streak.last_login.strftime("%a %d")}}</h1>
        <p style="font-weight: bold;">Last <br> Login</p>
    </div>
    <div class="marks" >
        <h1 class="blue">{{streak.streak_points}}</h1>
        <p style="font-weight: bold;">Streak <br> Score</p>
    </div>
    <div class="marks" >
        <h1 class="green">{{streak.longest_streak}}</h1>
        <p style="font-weight: bold;">Highest <br>Streak </p>
    </div>
</div>
<br><br><br>
</div>
<div class="test-tab">
    

    <object data="{{ url_for('static', filename='images/blog.svg') }}" type=""></object>
    <div class="test-tab-list"> 
        <h3 style="text-align: center;">Hello, {{current_user.username}}</h3>
<p>
 Our goal is to help make users as ready as possible to take the WASSCE
</p>
<p>                    We hope you enjoy your time using Alpha Prep! </p>
   <div class="test-tab-mycourses">
       <h3 style="text-align: center;"><a href="/dashboard">Go to Dashboard</a></h3>
   </div>
    </div>

</div>
    </div>
<div class="section2">
       
<div class="info">
    <img class="profilepic" src="{{ image_file }}" alt="">
    <p>Profile<br>
        <span class="fw">{{current_user.username}}</span> <br>        
    </p>
     
</div>
<div class="details">
 <a href="/logout"><button type="submit">Logout</button></a><br>
	
<br> <br>
<form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ form.email(disabled="disabled") }}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
		
		
</div>
<br>
<center>
<form action="" method="POST">
	<button type="submit" value="default" name="default">Remove Picture </button>
	
</form>
</center>
</div>

    </div>

</div>


<div id="page-container">

<div class="content-wrap">
	
</div>


{#<footer class="footer">
	<div >
		<nav>
			<ul>
				<li><a href="#">Contact Us</a>  | </li>
				<li> | <a href="#"> Support</a> |</li>
				<li> |<a href="#"> Terms of Use</a> </li>
			</ul>
		</nav>

		<p class="emblem"><a>&copy; <a style="color: red;">A</a><a style="color: yellow;">L</a><a style="color: black;">P</a><a style="color: green;">H</a><a style="color: red;">A</a> <a>PREP</a></a></p>
	</div>
</footer>#}
</div>

</body>
{% endblock body %}
</html>