<!DOCTYPE html>
<html>
<head>
	<title>Report a bug | ALPHA Prep</title>
	<link rel="stylesheet" type="text/css" href="Report A bug.css">
	<link rel="icon" type="image/ico" href="../images/alpha preps-1.png">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css.">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
  <SECTION>
 <nav class='resp'>
        <div class="logoName">
            <img src="../images/alpha preps3.png">
            <!--<h1>
                <h3 style="color: red;">A</h3>
                <h3 style="color: yellow;">L</h3>
                <h3 style="color:black; ">P</h3>
                <h3 style="color: green;">H</h3>
                <h3 style="color: red;">A</h3>
                <h3 class="prep" style="color: white;">PREP</h3>
            </h1>-->
        </div>

        <ul class='resp'>

            <li>
                <a href="#">Home</a>
            </li>
            <li class="ssubjects">
                <a href='#'>Subjects <i class="fa fa-caret-down"></i></a>
                <div class="subjects-tab">
                    <a href="#">General Science</a>
                    <a href="#">Core Mathematics</a>
                    <a href="#">Social Studies</a>
                    <a href="#">English</a>
                    <a href="#">Elective Mathematics</a>
                    <a href="#">Biology</a>
                    <a href="#">Chemistry</a>
                    <a href="#">Physics</a>
                </div>
            </li>
            <li>
                <a href='#'>Dashboard</a>
            </li>
            <li>
                <a href='My Courses/My Courses.html'>My Courses</a>
            </li>
            <li class="aabout">
                <a href='#'>About <i class="fa fa-caret-down"></i></a>
                <div class="about-tab">
                    <a href="#">About Developers</a>
                    <a href="#">Documentation</a>
                    <a href="#">Contact Us</a>
                </div>
            </li>
            <li>
                <div class="panel">
                    <input type="text" name="#" value="" placeholder=" Type search item">
                    <h3 href="#" id="fa-search"><i class="fas fa-search"></i></h3>
                    <h3 href="#"><a><i class="fas fa-bell"></i></a></h3>
                    <h3 href="#"><i class="fa fa-caret-down"></i></h3>
                </div>
            </li>
        </ul>
        <a href='#' id='openup'>MENU</a>

    </nav>
  </SECTION>


 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   
    <script src="prototype.js"></script>

</header>
<div id="page-container">
<div class="content-wrap">
	
</div>

<article>
<h1>Report a bug!</h1>
<p>We want to fix your bugs! But many bugs don't include required information. So we are focusing our limited resources on bugs that have complete reports. To improve the chances of your bug being fixed, please vividly describe what the bug is about and where it can also be located in the dialogue box provided below.
<div class="inputtxt">
    <form action="/action_page.php">
        <!--<label for="fname">First Name</label>-->
        <textarea rows="5">Input text here!</textarea>
        <input type="submit" value="Submit">
    </form>    
</div>
</p>





</article>


<!--<footer class="footer">
	<div >
		<nav>
			<ul>
				<li><a href="#">Contact Us</a>  | </li>
				<li> | <a href="#"> Support</a> |</li>
				<li> |<a href="#"> Terms of Use</a> </li>
			</ul>
		</nav>

		<p class="emblem"><a>&copy; <a style="color: red;">A</a><a style="color: yellow;">L</a><a style="color: black;">P</a><a style="color: green;">H</a><a style="color: red;">A</a> <a>PREP</a></a></p>
	</div>
</footer>-->
</div>
</body>
</html>